@model OLX.Web.ViewModels.Ad.AdsListViewModel


@{
    this.ViewData["Title"] = "All Ads";
}
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

<section class="container">

        
    <div class="row justify-content-center align-items-center">
        @foreach (var ad in Model.Ads)
        {
            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 cartLayout">

            <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 card">
                <div class="card-image">
                    <a asp-controller="Ad" asp-action="OpenedAd" asp-route-title="@ad.Title"><img src="@ad.ImageUrl"></a>
                </div>

                <div class="content-box">
                    <div class="card-content">
                        <div class="card-adTitle">
                            <h1><a asp-controller="Ad" asp-action="OpenedAd" asp-route-title="@ad.Title">@ad.Title</a></h1>
                        </div>
                        <div class="card-adCategory">
                            <p>@ad.CategoryName</p>
                        </div>

                        <div class="card-adDescription">
                            <p>@ad.Description</p>
                        </div>

                        <div class="card-adPrice">
                            <p>@ad.Price лв.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        }
    </div>
</section>

<partial name="_PagingPartial" model="@Model" />
